<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hti.Grad_Project">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_INTRENAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GradProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".Activities.AnswersActivity"
            android:exported="true"
            android:label="@string/title_activity_answers"
            android:theme="@style/Theme.GradProject.NoActionBar"></activity>
        <activity
            android:name=".Activities.OnboardingActivity"
            android:exported="true"
            android:label="@string/title_activity_answers"
            android:theme="@style/Theme.GradProject.NoActionBar"></activity>
        <activity
            android:name=".Activities.QuestionActivity"
            android:exported="false"
            android:label="@string/title_activity_question"
            android:theme="@style/Theme.GradProject.NoActionBar" />
        <activity
            android:name=".Activities.BottomNavContainerScreen"
            android:exported="false"
            android:label="@string/title_activity_bottom_nav_container_screen"
            android:theme="@style/Theme.GradProject.NoActionBar" />
        <activity
            android:name=".Activities.TestCompose"
            android:exported="true"
            android:label="@string/title_activity_test_compose"
            android:theme="@style/Theme.GradProject.NoActionBar" />
        <activity
            android:name=".Activities.OCR_Activity"
            android:exported="true" />
        <activity
            android:name=".Activities.BaseActivity"
            android:exported="false"
            android:label="@string/title_activity_base"
            android:theme="@style/Theme.GradProject.NoActionBar" />
        <activity
            android:name=".Activities.Auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Auth.LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Activities.Auth.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>